
@{
    ViewData["Title"] = "Create";
}

@model PageDto


<div class="container mt-2">
    <div class="row">
        <div class="col-md-10">
            <div class="card">
                <div class="card-header">
                    <h4>Create a Page</h4>
                </div>
                <div class="card-body">
                    <form asp-action="Create">

                        @*<-->asp-validation-summary="ModelOnly" kısmı modelimde belirttiğim uyarıları göstermesi için belirtilir.</-->*@
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group">
                            <label asp-for="Title" class="control-label"></label>
                            <input asp-for="Title" class="form-control" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                            @*<-->span asp-validation-for="Title" Title için yanlış formatta girilirse uyarıyı göstereceği alan min lentgh 2 gibi</-->*@
                        </div>

                        <div class="form-group">
                            <label asp-for="Content" class="control-label"></label>
                            <textarea asp-for="Content" class="form-control"></textarea>
                            <span asp-validation-for="Content" class="text-danger"></span>
                        </div>

                        <div class="form-group float-right">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>

                    </form>
                </div>
                <div class="card-footer">
                    <a asp-action="Index" class="btn btn-dark btn-block">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    @*bu script: ckeditörünü Content için yerleştir diyoruz aynısını edittede yapıyoruz tabi yukarıda input değil textarea olarak değiştiriyoruz Bu sayede veri olarak değil word dosyası gibi gelecek content veri kısmı*@
        <script>
        CKEDITOR.replace("Content");
        </script>
}